{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="d-block d-md-none py-3 px-3">
                        <div class="row">
                            <div class="col">
                                <h6 class="text-black mr-4 my-4"><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                <hr class=" w-50 my-2">
                                <h6 class="text-black mr-4 my-4">Delivery: ${{ delivery|floatformat:2 }}</h6>
                                <hr class=" w-50 my-2">
                                <h4 class="text-black mr-4 my-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-warning">
                                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% include "bag/checkout-button.html" %}
                                <p class="text-white mt-2">A summary of your bag contents is below</p>
                            </div>
                        </div>
                        {% for item in bag_items %}
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "bag/product-image.html" %}
                                </div>
                                <div class="col-12 col-sm-6 mb-2 text-black">
                                    <p class="my-0 text-white"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0 small text-black">SKU: {{ item.product.sku|upper }}</p>
                                    <p class="my-0 small text-black">Brand: {{ item.product.brand }}</p>
                                    {% if item.product.driver_loft %}
                                        <p class="my-0 small text-black">Loft: {{ item.loft }}</p>
                                    {% endif %}
                                    {% if item.product.wedge_loft %}
                                        <p class="my-0 small text-black">Loft: {{ item.loft }}</p>
                                    {% endif %}
                                    <p class="my-0 small text-black">Category: {{ item.product.category.friendly_name }}</p>   
                                </div>
                                <div class="col-12 col-sm-6">
                                    <p class="my-0 text-black">${{ item.product.price }}</p>
                                    <p class="my-0 text-black">Subtotal: <strong>${{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                                </div>
                                <div class="col-12 col-sm-6">
                                    {% include "bag/quantity-form.html" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                            <div>
                                <a id="back-to-top" href="#" class="btn btn-dark btn-lg back-to-top" role="button">
                                    <i class="fas fa-chevron-up"></i>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% include "bag/product-image.html" %}
                                    </td>
                                    <td class="py-3">
                                        {% include "bag/product-info.html" %} 
                                    </td>
                                    <td class="py-3">
                                        
                                    </td>
                                    <td class="py-3 w-25">
                                        {% include "bag/quantity-form.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
            </div>
            <div class="col-4 d-none d-md-block">
                <div class="row mb-4">
                    <div class="col-12 text-right d-none d-md-block">
                        {% include "bag/keep-shopping.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 bg-secondary text-right pt-3 pb-5 rounded d-none d-md-block">
                        <h3 class="text-white text-center my-4">Order Summary:</h3>
                        <hr class=" w-50 my-1">
                            {% include "bag/bag-total.html" %}
                        <div class="text-right mr-4">
                            {% include "bag/checkout-button.html" %}
                        </div>
                    </div>
                </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-dark btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('#back-to-top').fadeIn();
                } else {
                    $('#back-to-top').fadeOut();
                }
            });
            // scroll body to 0px on click
            $('#back-to-top').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 400);
                return false;
            });
    });
</script>
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}