{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                {% if bag_items %}
                    {{ bag_items }}
                    <br>
                    <br>
                    {{ request.session.bag }}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                        <p class="my-0 small text-muted">Brand: {{ item.product.brand }}</p>
                                        {% if item.product.driver_loft %}
                                        <p class="my-0 small text-muted">Loft: {{ item.loft }}</p>
                                        {% endif %}
                                        {% if item.product.wedge_loft %}
                                        <p class="my-0 small text-muted">Loft: {{ item.loft }}</p>
                                        {% endif %}
                                        <p class="my-0 small text-muted">Category: {{ item.product.category.friendly_name }}</p>   
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id%}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <spanitem_>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number" 
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                                        data-item_id="{{ item.item_id }}" 
                                                        id="id_qty_{{itemt.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    {% if item.product.driver_loft %}
                                                        <input type="hidden" name="product_loft" value="{{ item.loft }}">
                                                    {% endif %}
                                                    {% if item.product.driver_loft %}
                                                        <input type="hidden" name="product_loft" value="{{ item.loft }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_loft="{{ item.loft }}"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
            </div>
            <div class="col-4">
                <div class="row mb-4">
                    <div class="col-12 text-right">
                        <a href="{% url 'products' %}" class="btn btn-dark btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 bg-info text-right pt-3 pb-5 rounded">
                        <h3 class="text-white text-center my-4">Order Summary:</h3>
                        <hr class=" w-50 my-1">
                        <h6 class="text-white mr-4 my-4"><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                        <hr class=" w-50 my-2">
                        <h6 class="text-white mr-4 my-4">Delivery: ${{ delivery|floatformat:2 }}</h6>
                        <hr class=" w-50 my-2">
                        <h4 class="text-white mr-4 my-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                        {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                            </p>
                        {% endif %}
                        <div class="text-right mr-4">
                            <a href="" class="btn btn-dark text-white btn-outline-success btn-lg checkout-btn">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-dark btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">

    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_loft');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_loft': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}